body { 
  font-family: Arial, sans-serif;
  color: #00324B;
  text-align: center;
  size: 16px;
}

table {
  background-color: white
}

td {
  padding: 15px;
}

/* RGB Colors */
.rgb1 {
  background-color:rgb(0, 122, 181);
}

.rgb2 {
  background-color:rgb(0, 122, 181, 0.9);
}

.rgb3 {
  background-color:rgb(0, 122, 181, 0.8);
}

.rgb4 {
  background-color:rgb(0, 122, 181, 0.7);
}

.rgb5 {
  background-color:rgb(0, 122, 181, 0.6);
}

.rgb6 {
  background-color:rgb(0, 122, 181, 0.5);
}


.rgb7 {
  background-color:rgb(0, 122, 181, 0.4);
}


.rgb8 {
  background-color:rgb(0, 122, 181, 0.3);
}


.rgb9 {
  background-color:rgb(0, 122, 181, 0.2);
}

.rgb10 {
  background-color:rgb(0, 122, 181, 0.1);
}

/* HSL Colors */

.hsl1 {
  background-color:hsl(200, 100%, 35%);
}

.hsl2 {
  background-color:hsl(200, 100%, 35%, 0.9);
}

.hsl3 {
  background-color:hsl(200, 100%, 35%, 0.8);
}

.hsl4 {
  background-color:hsl(200, 100%, 35%, 0.7);
}

.hsl5 {
  background-color:hsl(200, 100%, 35%, 0.6);
}

.hsl6 {
  background-color:hsl(200, 100%, 35%, 0.5);
}

.hsl7 {
  background-color:hsl(200, 100%, 35%, 0.4);
}

.hsl8 {
  background-color:hsl(200, 100%, 35%, 0.3);
}

.hsl9 {
  background-color:hsl(200, 100%, 35%, 0.2);
}

.hsl10 {
  background-color:hsl(200, 100%, 35%, 0.1);
}