input {
  border-radius: 5px;
}

button {
  border-radius: 10px;
}

body {
  background-color: #4f5359;
  margin: 0 auto;
}

.card {
  width: 18rem;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

hr {
  border: 2px solid;
  color: white;
}

.footer {
  color: white;
}