body {
  font-family: system-ui;
  color: #402313;
  text-align: center;
  background: #f3ebe7;
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 200px;
}


a {
  color: #a9262d;
}