body {
  background: linear-gradient(to right, darkgray, gray);
}

h3 {
  color: white;
}

#team {
  color: white;
}
.panel {
  margin: 20px auto;
  width: 600px;
}

li.north-div {
}

.container {
  background-color: lightgray;
  background-image: url(https://images.seattletimes.com/wp-content/uploads/2021/09/09212021_UW-Offensive-Line_154958.jpg?d=1560x1040);
  border: 10px solid #4b2e83;
  border-radius: 9px;
  margin-top: 20px;
}

#su {
  background-color: #990000;
  color: lightgray;
}

#or {
  background-color: #154733;
  color: yellow;
}

#wsu {
  background-color: #981e32;
  color: #5e6a71;
}

#cal {
  background-color: #081f3f;
  color: #fcb326;
}

#uw {
  background-color: #4b2e83;
  color: #b7a57a;
}

#osu {
  background-color: #252525;
  color: #cc4500;
}