.panel-body {
  border-radius: 20px;
  margin: 20px auto;
  padding: 2em;
  width: 600px;
  background-color: grey;
  background-image: url(https://images.unsplash.com/photo-1614664868369-8beb346d090e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}

h3 {
  color: white;
}

.header {
  font-weight: bold;
}