h4 {
  text-align: center;
}
.card {
  width: 30rem;
  margin: 20px;
  display: flex;
}

.col {
  margin: 1em;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
}

.list-group-item {
  text-transform: uppercase;
}