.sidebar {
  width: 20%;
  height: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

.main {
  width: 60%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.main,
.sidebar {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

body {
  padding: 1%;
  background-color: white;
  font-size: 20px;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

code,
pre {
  background-color: #ccc;
  padding: 0 3px;
  border-radius: 5px;
}

.bottom {
  justify-self: bottom;
}

.intro-text {
  padding: 5em;
}

.bg-card {
  background-color: lightgray;
  border-radius: 9px;
}

.bg-jubilee {
  background-image: url(https://cdn.discordapp.com/attachments/527689310451925004/919843372850622504/icon_jubilee.png);
}

.bg-lhsc {
  background-image: url(https://cdn.discordapp.com/attachments/527689310451925004/919843373148438558/icon_lakehills.png);
}

.bg-heart {
  background-image: url(https://cdn.discordapp.com/attachments/527689310451925004/919843372477325392/icon_heart.png);
}

.bg-nwa {
  background-image: url(https://cdn.discordapp.com/attachments/527689310451925004/919843373429452840/icon_nwa.png);
}

h2, h1 {
  font-family: Montserrat;
}

p {
  font-family: system-ui;
  font-size: 80%;
}

#selected {
  opacity: 0.8;
}

#deselected {
  opacity: 1;
}