#flag {
  width: 800px;
  height: 200px;
  text-align: center;
}

#starcell {
  width: 240px;
  background-color: blue;
  padding: 13.3333333333px;
}

#stars {
  color: white;
  width: 240px;
  text-align: center;
  font-size: 13.3333333333px;
}

.red_stripe {
  background-color: #FF0000;
}

.white_stripe {
  background-color: #FFFFFF;
}

.stripes {
  padding: 13.3333333333px;
}